<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
	</startup>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SQLite" />
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
		</DbProviderFactories>
	</system.data>

	<connectionStrings>
		<add name="IdentityDb" connectionString="Data Source=d:\workshop\.data\Identity.db3;FKSupport=True" providerName="System.Data.SQLite" />
	</connectionStrings>

  <appSettings>

    <!-- MicroErpApi service settings -->
    <add key="JWTServer.ServiceName" value="JWT Authentication Server" />
    <add key="JWTServer.ServiceDescription" value="A JWT issuing authentication server based on a self hosted OWIN WebAPI using an extended ASP.NET Identity." />

    <!-- Email service config -->
    <!-- By default a simple smtp mailer is used to receive the emails please install -->
    <!-- SMTP4DEV (https://smtp4dev.codeplex.com/) a very helpful tool                -->
    <add key="EmailService.SenderAddress" value="sender@myweb.net" />
    <add key="EmailService.SenderName" value="Identity JWTServer" />
    <add key="EmailService.Account" value="The SendGrid Account" />
    <add key="EmailService.Password" value="The SendGrid Password" />
    <add key="EmailService.MailServerAddress" value="127.0.0.1" />
    <add key="EmailService.MailServerPort" value="25" />

    <!-- API logging -->
    <add key="JWTServer.ApiLogging" value="false" />

    <!-- JWTServer host settings -->
    <add key="JWTServer.Url" value="http://localhost:{0}" />
    <add key="JWTServer.AlternativeUrl" value="http://127.0.0.1:{0}" />
    <add key="JWTServer.MultiUrl" value="http://{0}:{1}" />
    <add key="JWTServer.Port" value="9999" />

    <!-- JWTServer API settings -->
    <add key="JWTServer.AllowedOrigins" value="*" />
    <add key="JWTServer.JWTIssuer" value="http://localhost:9999" />
    <add key="JWTServer.TokenEndpointPath" value="/oauth/token" />
    <add key="JWTServer.ConfirmationEmailTokenLifespan" value="6" />
    <add key="JWTServer.InitialUserRole" value="User" />

    <!-- User management client (tbd) -->
    <!--add key="JWTServer.ApiClientId" value="CiPvyYsr7vX2" /-->
    <add key="JWTServer.ApiClientSecret" value="r52qrVtsh2ahyYDvlu_4DZG1TJaz2UjHKmZxqjdejco" />

    <!-- JWTServer host settings -->
    <add key="JWTServerClient.Google.ClientId" value="xxx"/>
    <add key="JWTServerClient.Google.ClientSecret" value="xxx"/>
    <add key="JWTServerClient.Facebook.AppId" value="yyy"/>
    <add key="JWTServerClient.Facebook.AppSecret" value="yyy"/>
    <add key="JWTServerClient.Facebook.AppToken" value="yyy"/>
  </appSettings>

</configuration>

